@model IEnumerable<ProjetoFinal.DTOs.ServicoDTO>
@{
    ViewData["Title"] = "Listar";
}

<h1>Listar</h1>

<div class="list-actions">
    <a asp-action="Index" asp-controller="Servico" class="btn btn-primary">
        Novo
    </a>
</div>

<div class="table-responsive">
    <table class="list-table">
        <thead>
            <tr>
                <th>Código</th>
                <th>Descrição</th>
                <th>Valor Hora</th>
                <th>ID Área</th>
                <th>Alterar</th>
                <th>Excluir</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>@item.id</th>
                    <td>@item.descricao</td>
                    <td>@item.valorHora</td>
                    <td>@item.idArea</td>
                    <td>
                        <a asp-action="PreAlterar"
                           asp-controller="Servico"
                           asp-route-id="@item.id"
                           class="btn btn-edit">Alterar</a>
                    </td>
                    <td>
                        <form asp-action="Excluir" asp-controller="Servico"
                              asp-route-id="@item.id" method="get" class="delete-form">

                            <button type="submit" class="btn btn-edit"
                                    onclick="return confirm('Confirma a exclusão?') ">
                                Excluir
                            </button>
                        </form>


                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>